header
{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 60px 126px 0 100px;
}
header a
{
    color: var(--dark-text--clr);
    font-size: var(--font-size-22px);
    padding: 5px 10px;
}
header a:hover
{
    color: var(--gray--clr);
}
header nav
{
    display: flex;
    gap: 70px;
    align-items: center;
}
header .btn-container
{
    display: flex;
    gap: 34px;
}
header .btn
{
    border-radius: 80px;
    width: 160px;
    height: 60px;
    font-size: var(--font-size-22px);
}
header .login
{
    background-color: var(--white--clr);
    color: var(--gray--clr);
    border: 3px solid var(--white--clr);
}
header .signup
{
    background-color: var(--orange--clr);
    color: var(--white--clr);
    border: 3px solid var(--orange--clr);
}
header .login:hover
{
    background-color: transparent;
    color: var(--dark-text--clr);
}
header .signup:hover
{
    background-color: transparent;
    color: var(--orange--clr);
}
header.mobile
{
    display: none;
    background-color: red;
}
@media screen and (max-width: 1360px)
{
    header
    {
        padding: 60px 30px 0 30px;
    }
}
@media screen and (max-width: 1200px)
{
    header nav
    {
        gap: 15px;
    }
}
@media screen and (max-width: 950px)
{
    header.desktop
    {
        display: none;
    }
    header.mobile
    {
        display: flex;
    }
}