.companies-section
{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 160px;
}
.companies-section p
{
    color: #696984;
    font-size: var(--font-size-28px);
    margin-bottom: 32px;
    text-align: center;
}
.companies-section .companies
{
    display: flex;
    gap: 76px;
    width: fit-content;
    margin: auto;
    align-items: center;
}
@media screen and (max-width: 1370px)
{
    .companies-section .companies
    {
        gap: 16px;
    }
}
@media screen and (max-width: 1060px)
{
    .companies-section .companies
    {
        gap: 2px;
    }
}
@media screen and (max-width: 990px)
{
    .companies-section .companies
    {
        gap: 8px;
        flex-wrap: wrap;
    }
    .companies-section .companies img
    {
        margin: auto;
    }
}